{% extends 'base/base.html' %}

{% block content %}

<div class="col-sm-12">

    <button type="button" class="mb-3 btn btn-primary" data-toggle="modal" data-target="#new-playlist">
        Create New Playlist
    </button>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Number of Songs</th>
            <th>Created At</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for playlist in playlists %}
            <tr>
                <td>{{ playlist.name }}</td>
                <td>{{ playlist.tracks.count }}</td>
                <td>{{ playlist.created_at }}</td>
                <td><a href="{{ playlist.get_absolute_url }}">Edit</a></td>
                <td><a href="{% url 'playlist.delete' playlist.id %}">Delete</a></td>
            </tr>

        {% endfor %}
    </table>

</div>

<div class="col-sm-5">
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Upload MP3 File</label>
        <input type="file" name="file_path" required class="form-control m-1" />
        <label for="">Choose playlist to add mp3 to </label>
        <select name="playlist_id" class="form-control m-1">
        {% for playlist in playlists %}
            <option value="{{ playlist.id }}">{{ playlist.name }}</option>
        {% endfor %}
        </select>
     <input type="submit" class="btn btn-info" value="Upload">
    </form>
</div>

<div class="modal fade" id="new-playlist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'playlist.create' %}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <label for="">New Playlist Name</label>
                    <input type="text" name="name" maxlength="200" required class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Create" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{# Extending the footer tab to add javascript #}

{% block footer %}

{% endblock %}


