{% extends 'base/base.html' %}

{% block content %}

    <h1>{{ playlist.name }}</h1>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Aritst</th>
            <th>Album</th>
            <th>Year</th>
        </tr>
        {% for track in playlist.tracks.all %}
            <tr>
                <td>{{ track.title }}</td>
                <td>{{ track.artist }}</td>
                <td>{{ track.album }}</td>
                <td>{{ track.year }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block footer %}

{% endblock %}
